.banner{

    background-color:darkslateblue;
    width:200%;
    height:100px;
    margin-bottom:50px;
}

.banner-text{
    color:red;
    top:5%;
    left:50%;
    position:absolute;
    transform:transform;
}

